<% layout("/layouts/boilerplate.ejs")%>
<body>
    <div class="row">
    </div>
    <div class="card col-7 offset-2 listing-card">
        <h3>
            <%= listing.title%>
        </h3>
        <img src="<%= listing.image%>" class="card-img-top show-img mb-3" alt="...">
        <div class="card-body">
            <p>
               <b>Owner :</b> <i style="font-size: 20px;"><%= listing.owner.username %></i>
            </p>
            <p>
                <%= listing.description %>
            </p>
            <p>&#8377;<%= listing.price.toLocaleString("en-IN") %>
            </p>
            <p>
                <%= listing.location %>
            </p>
            <p>
                <%= listing.country %>
            </p>
            </p>
        </div>
    </div>
    <br>
    <% if(logined_user && logined_user._id.equals(listing.owner._id)) { %>
    <div class="navigation-btn offset-2">
        <a class="btn btn-dark"
            style="background-color: rgb(240, 72, 72); width: 8rem; font-size: 1.5rem;  margin-bottom: 5px; font-weight: 500;"
            href="/listings/<%= listing._id %>/edit">Edit</a>
        <br><br>
        <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
            <button class="btn btn-dark" style="width: 8rem; font-size: 1.5rem;  margin-bottom: 5px; font-weight: 500;">Delete</button>
        </form>
    </div>
<% } %>
    <hr>
    <div class="col-7 offset-2">
        <% if (logined_user) {%> // Abhi hmne ye bs review tbhi kr skta hai jb user koi logined ho .
        <h4>Leave a Review</h4>
        <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate class="needs-validation">
            <!-- <div class="mb-3 mt-3">
                <label for="rating" class="form-lable">Rating</label>
                <input type="range" name="review[rating]" min="1" max="5" id="rating" class="form-range">
            </div> -->
            <div class="mb-3 mt-3">
            <label for="rating" class="form-lable" style="font-size: 25px; margin-bottom: 10px;">Rating</label>
            <fieldset class="starability-slot">
                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>
            </div>
            <div class="mb-3 mt-3">
                <label for="comment" class="form-lable">Comment</label>
                <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
                <div class="invalid-feedback">
                    Please provide a valid comment.
                </div>
            </div>
            <button class="mb-3 mt-3 btn btn-outline-dark">Submit</button>
        </form>
        <%}%>
        <hr>
        <h4>Reviews</h4>
        <div class="row">
        <% for(let review of listing.reviews){%> 
            <div class="card col-5 mb-3 ms-3">
                <div class="card-body">
                    <h5 class="card-title">@<%= review.author.username%></h5>
                    <p class="starability-result" data-rating="<%= review.rating%>"></p>
                  <p class="card-text"><%= review.comment%></p>
                </div>
                <form  method="POST" action="/listings/<%= listing._id%>/reviews/<%=review._id%>?_method=DELETE">
                    <button class="btn btn-sm btn-dark mb-3 mt-3">Delete</button>
                </form>
              </div>
        <%}%>
    </div>
    </div>
    
</body>
